@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

.title{
    font-family: 'Jacques Francois Shadow', cursive;
    font-size: 35px;
    color: #071BCF;
    margin-top: 30px;
}

.chooseText{
    font-family: 'Josefin Slab', serif;
    font-style: normal;
    font-size: 25px;
    color: black;
}

.chooseName {
    margin-top: 150px;
    margin-bottom: 30px;
}

#moderator{
    margin-top: 40px;
}