.card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 15px;
    background: #ffffff;
}

button {
    width: 30px;
    height: 30px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.scoreArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b9b9b9;
    border-radius: 5px;
    padding: 5px;
}

.scoreButtons{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
}

.decrease{
    background-color: #ff8792;
}

.increase{
    background-color: #88c0f8;
}


.nameContainer{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-width: 50%;
    margin-left: 10px;
}

.scoreAndNameContainer{
    display: flex;
}